html {
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 20px;
  background-color: #dddfe1;
}

.box {
  margin-right: auto !important;
  display: flex !important;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
}
.logo {
  fill: #266cb4;
}

.navbar-slogan {
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0.3rem 0 0 1rem;
  font-family: Roboto, sans-serif;
  color: #6c757d;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}

td {
  color: #636363;
  border: 1px solid #dddfe1;
}

tr {
  background-color: #f9fafb;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.pagination {
  list-style-type: none;
  padding: 10px 0;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.pagination li {
  box-sizing: border-box;
  padding-right: 10px;
}

.pagination li a {
  box-sizing: border-box;
  background-color: #e2e6e6;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #616872;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #d4dada;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.pagination .next a,
.pagination .prev a {
  text-transform: uppercase;
  font-size: 12px;
}

.pagination .currentpage a {
  background-color: #518acb;
  color: #fff;
}

.pagination .currentpage a:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #518acb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.btn-cta:hover {
  color: #fff;
  background-color: #f65d10;
  border-color: #f05709;
}

.btn-cta {
  color: #fff;
  background-color: #f77635;
  border-color: #f77635;
  box-shadow: rgba(108, 117, 125, 0.4) 3px 3px 10px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

@media screen and (max-width: 580px) {
  .btn {
    padding: 20px 10px !important;
  }
  .btn {
    float: none;
    display: block;
    text-align: left;
  }
}

.titel {
  text-align: center;
  font-size: 60px;
  color: #2682cd;
  position: fixed;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  background-color: whitesmoke;
}

@media screen and (max-width: 580px) {
  .titel {
    padding: 20px 10px !important;
  }
  .titel {
    float: none;
    display: block;
    text-align: left;
  }
}

.über {
  color: #2682cd;
  font-size: 30px;
}
.normal {
  color: black;
  font-size: 25px;
}
.text-box {
  text-align: left;
  display: block;
  height: 100%;
  width: 900px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}

.support {
  background-image: url("supporters.png");
}

.footer {
  box-align: center;
  text-align: left;
  display: block;
  height: 230px;
  width: 900px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f1f2f3;
  /*#f1f2f3
    #e4e6e7*/
  border: 1px solid transparent;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0rem 0rem 0.2rem 0.2rem;
}
.firstfooter {
  box-align: center;
  text-align: left;
  display: block;
  height: 100%;
  width: 100%;
  padding: 1px;
  margin: 0 auto;
  background-color: #f1f2f3;
  float: left;
  /*#f1f2f3
    #e4e6e7*/
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}
.line {
  background-color: #ccc;
  width: 900px;
  height: 1px;
}

.footer-text {
  color: #518acb;
  font-size: 14;
}

.footer2 {
  color: #f77635;
  font-size: 14px;
  list-style-type: none;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
}

.footer3 {
  color: #666;
  font-size: 14px;
}

.btns2 {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  user-select: none;
  border: 1px solid grey;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-cta2:hover {
  color: #fff;
  background-color: #f65d10;
  border-color: #f05709;
}

.btn-cta2 {
  color: #fff;
  background-color: #54585d;
  border-color: #54585d;
  box-shadow: rgba(108, 117, 125, 0.4) 3px 3px 10px;
}

.btn-group-sm2 > .btn,
.btn-sm2 {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn2 {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#change {
  border-radius: 0.2rem 0.2rem 0rem 0rem;
  box-shadow: none;
}

#change:hover {
  border-color: #f65d10;
}

.active {
  display: block;
  background-color: #ccc;
  width: 500px;
  height: 600px;
  border: 5px solid #54585d;
}

.btn-cta2:hover ~ .active {
  border-color: #f65d10;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.notactive {
  display: none;
}

.formtest {
  display: inline-block;
  vertical-align: top;
}

.formtest2 {
  display: inline-block;
}

:focus {
  outline: -webkit-focus-ring-color none;
}

#confirm {
  display: none;
  background-color: #91ff00;
  border: 1px solid #aaa;
  position: fixed;
  width: 250px;
  left: 50%;
  margin-left: -100px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

#confirm button {
  background-color: #48e5da;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

#confirm .message {
  text-align: left;
}

/*Filter*/
li.search {
  list-style: none;
}

.dropdown-content {
  left: 150px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 13px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content div {
  background-color: #518acb;
  min-height: 30px;
  font-size: large;
}
